<body  style="background-color: #dadad8;padding-top: 100px;">
      <h1 style="text-align:center ;">About US</h1>
   <section class="text-center about">
  
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-file"></span>
            <h2>FAST DELIVERY</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
          </div>
          
          <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-info"></span>
            <h2>INFORMATION</h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
          </div>
           <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
            <span class="fa fa-spinner fa-spin fa-3x fa-fw"></span>
            <h2>24 x 7 SERVICE </h2>
            <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum </p>
          </div>
         
        </div>
        
      </div>
    </section>
    <div>
      <i class="bi bi-instagram"></i>
    </div>
</body>