<!-- <div id="navbar" class="navbar sticky-top shadow-lg">
  <div class="container">
    <i routerLink="" class="fa-5x fa-solid fa-meteor">
      <strong>SHOP-TIC</strong>
    </i>

    <ul id="menu" class="d-flex">
      <li><a routerLink="">HOME</a></li>
      <li><a>ABOUT</a></li>
      <li><a routerLink="confirm-order">MY ORDERS</a></li> -->
<!-- <li><a routerLink="/add-cart"><i class="fa-3x fa-solid fa-cart-shopping"></i></a></li> -->
<!-- </ul> -->

<!-- <i routerLink="/add-cart" class="fa-3x fa-solid fa-cart-shopping"></i> -->
<!-- <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        accept=".csv"
      />
      <button class="btn btn-outline-dark" type="submit">Search</button>
    </form> -->
<!-- </div>
</div> -->
<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #40826d"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <i routerLink="" class="fa-3x fa-solid fa-bag-shopping">
        <strong>SHOP-NOW</strong>
      </i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="confirm-order">ORDERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">CONTACT</a>
        </li>
      </ul>
      <i
        style="margin-right: 20px; color: #fff"
        routerLink="/add-cart"
        class="fa-2x fa-solid fa-cart-shopping"
      ></i>
      <i
        (click)="onLogout()"
        style="margin-right: 20px; color: #fff"
        class="fa-2x fa-solid fa-right-from-bracket"
      ></i>
      <!-- <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light p-2" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
<!-- <div class="container-fluid">
  <div class="row">
    
    <img src="" alt="" />
    <div class="col-sm-5">
      <div class="thumbnail">
        <img
          src="https://cdn.mobilephonesdirect.co.uk/images/handsets/480/apple/apple-iphone-x-silver.png"
          class="img-responsive"
          alt=""
        />

        <div class="caption">
          <div class="row buttons">
            <button
              class="btn col-sm-4 col-sm-offset-2 btn-lg"
              style="background-color: #ff9f00; color: #fff; font-size: 1em"
            >
              <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;ADD
              TO CART
            </button>

            <button
              class="btn col-sm-4 col-sm-offset-1 btn-lg"
              style="background-color: #fb641b; color: #fff; font-size: 1em"
            >
              <i class="fa fa-bolt" style="font-size: 1.2em"></i> BUY NOW
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
