/* #navbar > div,
#navbar {
  background-color: aquamarine;
}

div {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: aliceblue;
}
i {
  margin-left: 30px;
  cursor: pointer;
}

strong {
  margin-left: 4px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

#menu > li {
  margin: 20px;
  list-style: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
} */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.container-fluid > div > ul > li > a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
strong {
  font-size: 26px;
  margin-left: 8px;
}

.container-fluid {
  padding: 16px;
  margin-left: 150px;
  margin-right: 150px;
}

.container-fluid > div > ul {
  margin-left: 60px;
}
.container-fluid > div > ul {
  margin-left: 200px;
}
.container-fluid > div > ul > li {
  margin-left: 30px;
}

.container-fluid > div > ul > li > a:hover {
  border-bottom: 3px solid #fff;
}
